iowntheinter.net	smtp:10.12.1.20
inev.us			smtp:10.12.1.20
goodelivery.us		smtp:10.12.1.20
oldirtywebsite.com	smtp:10.12.1.20
oldirtywebsite.net	smtp:10.12.1.20
oldirtywebsite.org	smtp:10.12.1.20
lhaywoodart.com 	smtp:10.12.1.20
leafstor.com 		smtp:10.12.1.20
leafstor.net 		smtp:10.12.1.20
leafstor.io 		smtp:10.12.1.20

