docker/master/config/etc/salt/minion_id
docker/master/config/etc/salt/pki/master/minions/*
*.log
.idea/*
*.pem
id.rsa
*.crt
*.key
*.csr
*.p12
*.gz
*.bin
*.o
*.so
*.providers 
*.pub 
.vertx
.gradle
*.pem 
*.crt 
*.key 
*.jar
*.class
**/logs/
fedora-vm/
docker/master/cmdsets
docker/master/srv/vxlog/*
docker/master/srv/vxlog/*
id_rsa
id_dsa
id.rsa
/resources
vxlog/*
