docker/master/config/etc/salt/minion_id
docker/master/config/etc/salt/pki/master/minions/*
*.log
*.pem
*.crt
*.key
*.csr
*.p12
*.gz
*.bin
*.o
*.so
*.providers 
*.pub 
*.pem 
*.crt 
*.key 
*.jar
*.class
**/logs/
fedora-vm/
docker/master/srv/vxlog/*
docker/master/srv/vxlog/*
id_rsa
id_dsa
