	{% if installer != 1 %}
port 1194
	{% elif installer == 1 %}
port 1195
duplicate-cn
	{% endif %}
proto udp
dev tun
ca ca.crt
cert server.crt
key server.key
dh dh.pem
	{% if installer == 1 %}
server 10.254.1.0 255.255.255.0
	{% else %}
server 10.{{salt['pillar.get']('files:conf:openvpn:subnet')}}.1.0 255.255.255.0
	{% endif %}
ifconfig-pool-persist ipp.txt
client-config-dir /etc/openvpn/ccd
client-to-client
keepalive 10 120
comp-lzo
persist-key
persist-tun
status openvpn-status.log
log /var/log/openvpn-udp.log
log-append /var/log/openvpn-udp.log
verb 3
topology subnet
#push "dhcp-option DNS 10.{{salt['pillar.get']('files:conf:openvpn:subnet')}}.1.1"
push "dhcp-option DNS 8.8.8.8"
{% if installer != 1 %}
ccd-exclusive
{% endif %}
